body {
    background-color: beige;
}

table td, table th {
    border: 1px solid grey;
}

table thead {
    background-color: lightgrey;
}

table tbody {
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
}

.ct-label {
    font-size: 1.5rem;
    color: black;
}

.ct-label.ct-horizontal {
    transform: rotate(60deg);
}