<table class="table table-striped table-bordered table-hover">
    <thead>
        <th>Date</th>
        <th>Time</th>
        <th>Light</th>
        <th>Temperature</th>
        <th>Pressure</th>
        <th>Humidity</th>
    </thead>
    <tbody>
        <tr ng-repeat="data in AllData | orderBy:'timeStamp'">
            <td ng-bind="data.Timestamp | date:'yyyy-MM-dd'"></td>
            <td ng-bind="data.Timestamp | date:'HH:mm:ss'"></td>
            <td>{{data.LightLevel * 100.0}}%</td>
            <td>{{data.Temperature}} &deg;C</td>
            <td>{{data.Pressure}} hPa</td>
            <td>{{data.Humidity}}%</td>
        </tr>
    </tbody>
</table>

<!--<div class="container" style="width:100%;">
    <nvd3 options="LightSensor.Options" data="LightSensor.Data"></nvd3>
</div>-->

