
<div class="container">
    <div class="col-md-2 col-md-offset-1" style="text-align:right;border-right:1px dashed grey;">
        <div>Time</div>
        <div>Light</div>
        <div>Temperature</div>
        <div>Pressure</div>
        <div>Humidity</div>
    </div>
    <div class="col-md-2">
        <div ng-bind="LatestData.Timestamp | date:'yyyy-mm-dd hh:MM:ss'"></div>
        <div>{{LatestData.LightLevel * 100.0}}%</div>
        <div>{{LatestData.Temperature}} &deg;C</div>
        <div>{{LatestData.Pressure}} hPa</div>
        <div>{{LatestData.Humidity}}%</div>
    </div>
</div>

<div class="container" style="width:100%;">
    <nvd3 options="LightSensor.Options" data="LightSensor.Data"></nvd3>
</div>

